{% extends 'base.html' %}

{% block head %}
<title>Primotext</title>

{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Primotext</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<br>

<main>

    <section id="addFile">
        <form class="mb-3" method="post" enctype="multipart/form-data">
            <label for="fileInput" class="btn btn-primary form-label" id="fileInputButton">Upload model</label>
            <input class="form-control" type="file" id="fileInput" name="file-input" accept="text/plain" 
            onchange="selectFileUploadEventListener(this)" style="display: none;">
        </form>
    </section>

    <div id="mainContentFlex" class="d-flex p-2">
        <div id="modelConfiguration" class="p-2">
            <section id="modelSelection">

                <label for="availableModels" class="label label-primary">Models</label>
                
                <!-- Find a way to change the default selected icon appearance (e.g. more rounded) -->
                <select class="form-select" aria-label="Models list" name="available-models" id="availableModels" size="8">
                    
                    {% for model in models %}
                        <option value="{{ model.get_source_path_basename() }}">{{ model.get_name() }}</option>
                    {% endfor %}
                </select>

            </section>
            <br>
            <section id="modelParameters">

                <ul class="list-group list-group-flush" id="tokenOptions">
                    <li class="list-group-item form-outline">
                        <label for="wordNum" class="label form-check-label">Words to generate</label>
                        <input class="form-control" id="wordNum" type="number" value="1" min="1"/>
                    </li>
                    <li class="list-group-item">
                        <label for="tokenCount" class="label form-check-label">Tokens per entry (not implemented for 2+ words per token)</label>
                        <input class="form-control" id="tokenCount" type="number" value="1" min="1"/>
                    </li>
                </ul>

                <ul class="list-group list-group-flush" id="printingOptions">
                    <!-- Show details on hover (e.g. csv is used for imports) -->
                    <li class="list-group-item" id="printMatrixToCsv">
                        <input class="form-check-input me-1" type="checkbox" id="checkboxPrintMatrixToCsv">
                        <label class="form-check-label stretched-link" for="checkboxPrintMatrixToCsv">Print matrix to .csv (not implemented)</label>
                    </li>
                    <li class="list-group-item" id="printTokensToTxt">
                        <input class="form-check-input me-1" type="checkbox" id="checkboxPrintTokensToTxt">
                        <label class="form-check-label" for="checkboxPrintTokensToTxt">Print tokens to .txt (not implemented)</label>
                    </li>
                </ul>
            </section>

            <br>

            <button class="btn btn-outline-primary" id="generateTextButton" onclick="setGenerateTextButtonEventListener()">Generate text</button>
        </div>

        <div id="generatedTextArea" class="p-2">
            <!-- <form action="/" method="post"> -->
            <section class="mb-3" id="generateTextSection">
                <label for="textboxGeneratedText" class="label label-primary">Generated text</label>
                <textarea class="form-control" id="textboxGeneratedText" placeholder="Write something" rows="24"></textarea>
            </section>
        </div>
    </div>
</main>

<footer>

</footer>
{% endblock %}