body {
    /* margin: 0; */
    font-family: serif
}

label {
    margin-bottom: 10px;
}

#fileInputButton {
    margin: 10px;
    background: #9b0e0e;
}

.form-select {
    position: relative;
}

.list-group-flush li {
    border: none;
    padding-left: unset;
}

#modelConfiguration {
    flex: 3;
}

#generatedTextArea {
    flex: 7;
}

#generateTextButton {
    width: 100%;
}